<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="heading">
      <h1>To-Do-List</h1>
    </div>
    <div class="heading">
      <a href="/task/create">Create task</a>
    </div>

    <div class="tasks">
      <% if(tasks.length===0) {%>
      <h1> No tasks yet.</h1>
      <% } else {%> <% tasks.forEach(task =>{ %>
      <div class="task">
        <h1><%= task.task %></h1>
        <p><%= task.desc %></p>
        <div class="buttons">
          <a href="/task/update/<%= task.id%>">Update</a>
          <a href="/task/delete/<%= task.id%>">Delete</a>
        </div>
      </div>
      <% })} %>
    </div>
  </body>
</html>
