<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="heading">
        <h1>[Login User]</h1>
    </div>
    <div class="form_container">
        <form action="/login" method="post">
            <div class="form_items">
                <input type="text" placeholder="Enter E-mail" name="email">
                <input type="password" placeholder="Enter Password" name="password">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>