body{
    background-color: antiquewhite;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.heading h1{
    color: white;
}

.form_items input{
    display: flex;
    flex-direction: column;
    border: none;
    height: 50px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.form_items button{
    cursor: pointer;
}